html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #32325d;
  user-select: none;
  background-color: black;
}

.page-container {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: grid;
  justify-content: center;
  align-items: center;
}

#images {
  /* max-width: 100%; */
}

#images img {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* margin: auto; */

  /* Border around transparent image, laggy on mobile */
  /* -webkit-filter: 
  drop-shadow(2px 2px 0 #fff) 
  drop-shadow(-2px 2px 0 #fff) 
  drop-shadow(2px -2px 0 #fff) 
  drop-shadow(-2px -2px 0 #fff);
  filter:
  drop-shadow(2px 2px 0 #fff) 
  drop-shadow(-2px 2px 0 #fff) 
  drop-shadow(2px -2px 0 #fff) 
  drop-shadow(-2px -2px 0 #fff); */
  
  max-width: 95vh;
  max-height: 95vw;
}

.ui {
  position: absolute;
  width: 100%;
  z-index: 10;
  /* padding: 20px; */
  /* background: #00000088; */
}


nav {
  max-width: 100vw;
}
