html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #32325d;
  user-select: none;
}

.page-container {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;}

#images {
  /* max-width: 100%; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#images img {
  max-width: 95vh;
  max-height: 95vw;
}

.ui {
  position: absolute;
  width: 100%;
  max-width: 600px;
  z-index: 10;
}


nav {
  max-width: 100vw;
}

.debug-circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 50px;
  border: 4px solid red;
  border-radius: 400px;
  pointer-events: none;
}